.red-border {
	border: 1px red solid;
	padding: 20px;
}

.blue-border {
	border: 1px solid blue;
	padding: 20px;
}

@media(max-width: 768px) {
	.red-border {
		border: 1px solid green;
	}
	.blue-border {
		border: 1px solid pink;
	}
}