body {
	background-color: #ccdcff;
}
div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 98%;
	margin-top: 4px;
	height: 65px;
	background-color: #6699ff;
	margin-bottom: 60px;
	text-align: center;
}

#intro {
	margin-left: 5px;
	font-size: 35px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	color: #333333;
	text-align: center;
	margin-bottom: 60px;
}

.left {
	position: absolute;
	margin: auto;
	margin-left: 50px;
	margin-right: 50px;
	width: 89%;
	height: 1900px;
	background-color: #3374ff;
	margin-bottom: 10px;
	margin-top: 90px;
}

h1 {
	margin-left: 375px;
	margin-bottom: 15px;
	font-family: cursive;
}

.left p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	color: #333333;
	font-size: 20px;
}

.left ul {
	position: relative;
}

.left li {
	list-style-type: square;
	margin-left: 5px;
	margin-right: 5px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	color: #333333;
	font-size: 20px;
}

img {
	height: 350px;
	width: 370px;
	margin-left: 280px;
}

#footer {
	position: fixed;
	bottom: -20px;
	height: 50px;
	background-color: ##6699ff;
	margin: 2px solid black;
}

#footer p {
	position: relative;
	padding-top: 15px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	color: #333333;
	font-size: 18px;
	text-align: center;
}